@use '@/app/styles/breakpoints' as *;

.container {
  max-width: 750px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
  height: fit-content;
}

.title {
  display: block;
  font-family: var(--font-family-display);
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: var(--spacing-lg);
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include mobile {
    font-size: 2rem;
  } 
}

.description {
  margin-top: var(--spacing-md);
}
