/* Breakpoints */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1500px;

/* Media Query Mixins */
@mixin mobile {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (max-width: $breakpoint-xl) {
    @content;
  }
}

/* Min-width mixins */
@mixin min-mobile {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin min-tablet {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin min-desktop {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin min-large-desktop {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
} 