.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-layout);
  min-height: 100vh;
  z-index: 1;
}

.silk {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
  mix-blend-mode: overlay;
}
