@import '../variables';

.analysis-table {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  font-size: 14px;

  * {
    font-family: $font-family-display;
  }

  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid $text-color-light;
    padding: $spacing-sm;

    p {
      margin-top: 10px;
    }
  }

  &__heading {
    color: $text-color-light;
    font-size: 12px;
    font-weight: normal;
  }

  &__note {
    margin-top: $spacing-sm;
    font-size: 12px;
  }
}