.analysis-table {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 14px;

  * {
    font-family: 'Tektur', monospace;
  }

  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid #949494;
    padding: 10px;
  }

  h6 {
    color: #949494;
    font-size: 12px;
    font-weight: normal;
  }

  p {
    margin-top: 10px;
    font-size: 12px;
  }
}