@import "../variables";

.articles-count {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-lg;

  &__label {
    color: $text-color-light;
  }

  &__value {
    font-size: 14px;
    flex: 1 0 100px
  }
}