.article-detail-page {
  display: grid;
  gap: 50px;

  grid-template-columns: 1fr 2fr;

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__analysis {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  @media (max-width: 960px) {
    grid-template-columns: 1fr;
  }
}

.article {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;
  height: fit-content;

  padding: 20px;
  transition: .3s;

  color: black;

  &:hover {
    transform: scale(1.01);
  }

  &__title {
    font-family: 'Tektur', monospace !important;
    font-weight: 500;
    font-size: 24px;
  }

  &__date {
    text-align: end;
  }

  img {
    width: 500px;
    height: auto;
  }
}

.analysis-card {
  flex: 1 1 300px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;

  &__title {
    font-family: 'Tektur', monospace !important;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  &__score {
    font-size: 32px;
    font-weight: bold;
  }

  &__description {
    grid-column: span 2;
  }
}

.party-analysis {
  width: 100%;
}