@import "../variables";

.articles-count {
  display: flex;
  flex-wrap: wrap;
  column-gap: $spacing-lg;
  row-gap: $spacing-md;
  margin-top: 12px;

  &__label {
    color: gray;
  }

  &__value {
    font-size: 12px;
  }
}