@import "../variables";

.article-search {
  display: flex;
  row-gap: 12px;
  column-gap: 100px;
  justify-content: space-between;
  font-family: $font-family-code;

  &__header {
    flex: 1 1 150px;

    &__inner {
      position: sticky;
      top: 100px;
      z-index: 1000;
    }
  }

  &__title {
    font-size: 2rem;
  }

  &__content {
    flex: 1 1 100%;
  }

  &__link {
    display: block;
    margin-top: 24px;
    text-align: center;
    color: gray;
    margin-inline: auto;
  }

  &__input {
    position: sticky;
    top: 100px;
    z-index: 1000;

    border-radius: 10px;
    transition: 1s ease-out;
    box-shadow: 0 0 0 $accent-color;

    &--focused {
      box-shadow: 0 0 100px $accent-color;
    }
  }

  &__results {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    gap: 5px;
  }
}

.article-search-result {
  flex: 1 1 400px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 16px;

  border: 1px solid $border-color-dark;
  transition: 0.3s;
  background-color: white;
  z-index: 100;
  padding: 10px;

  &:hover {
    transform: scale(1.02) !important;
    box-shadow: 0 0 10px gray;
  }

  &__title {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 1.25rem;
  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
  }
}