@import "../variables";

.articles-count {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-lg;

  &__label {
    color: $text-color-light;
    margin-bottom: $spacing-xs;
  }

  &__value {
    font-size: 14px;
  }

  &--vertical {
    flex-direction: column;
  }
}