@import "../variables";

.dashboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 200px auto;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);

  &--settings {
    grid-column: span 2;
  }

  .proceed-article-graph {
    grid-column: span 4;
    border-radius: 20px;
    background-color: white;
    height: 200px;
  }
}