@import '../variables';

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  grid-template-areas:
    'settings proceed-article-graph proceed-article-graph proceed-article-graph'
    'compare-scatter-plot compare-scatter-plot compare-scatter-plot compare-scatter-plot';
  gap: 20px;
  margin: 0 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);

  &--settings {
    grid-area: settings;
  }
}
