@import '../variables';

.media-detail-page {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__details {
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
  }

  &__analysis {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 100%;

    .graph-widget {
      flex-basis: 300px;
    }
  }
}

.media-header {
  max-width: 750px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $spacing-xxl;
  height: fit-content;

  &__title {
    display: block;
    font-family: $font-family-display;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: $spacing-lg;
  }
}