@import "../variables";

.media-select {
  display: flex;
  font-family: $font-family-code;
  column-gap: 100px;
  row-gap: 12px;
  min-height: 50vh;

  &__title {
    font-size: 2rem;
  }

  &__details {
    flex: 1 1 300px;
  }

  &-detail {
    &__description {
      padding: 20px;
      border: 1px solid black;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  &-option-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__title {
      font-size: 1rem;
      color: gray;
      margin-bottom: 6px;
    }
  }

  &-option {
    font-size: 2rem;

    &:not(&--disabled):hover {
      font-weight: bold;
      text-decoration: underline;
    }

    &--disabled {
      cursor: crosshair;
      color: gray !important;
    }
  }

}