.model-select {
  display: grid;
  margin-top: 10px;
  margin-bottom: 5px;

  * {
    color: #707070;
    font-family: 'Tektur', monospace !important;
  }

  &__input {
    font-size: 16px;
  }

  &__date {
    font-size: 12px;
  }

  .ant-select {
    &-selector {
      border: none !important;
      background-color: transparent !important;
    }

    &-selection-item {
      font-size: 16px;
      font-weight: bold !important;
    }
  }
}