.support-button {
  color: white !important;
  padding: 16px !important;
  height: auto !important;
  font-size: 24px !important;
  line-height: 24px !important;

  &:hover {
    transform: scale(1.05);
  }
}