@import '../variables';

.tooltip {
  background-color: $tooltip-bg;
  border-radius: 10px;
  padding: $spacing-md $spacing-sm;
  width: 250px;
}

.article-tooltip {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  &__preview {
    width: 100%;
    max-height: 150px;
  }

  &__icon {
    position: absolute;
    top: $spacing-sm;
    right: $spacing-sm;
  }

  &__title {
    font-family: $font-family-display;
    font-weight: 600;
  }

  &__date,
  &__authors {
    font-size: 12px;
  }

  &__date {
    color: $text-color-light;
    text-align: end;
  }
}