@import '../../variables';

.article-tooltip {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  &__preview {
    width: 100%;
    max-height: 150px;
  }

  &__icon {
    position: absolute;
    top: $spacing-sm;
    right: $spacing-sm;
  }

  &__title {
    font-size: 14px;
  }

  &__date,
  &__authors {
    font-size: 12px;
  }

  &__date {
    color: $text-color-light;
    text-align: end;
  }
} 