

.article-tooltip {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  &__preview {
    width: 100%;
    max-height: 150px;
  }

  &__icon {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);
  }

  &__title {
    font-size: 14px;
  }

  &__date,
  &__authors {
    font-size: 12px;
  }

  &__date {
    color: var(--text-color-light);
    text-align: end;
  }
} 