@import '../../variables';

.party-area-tooltip {
  width: max-content;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__date {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 12px;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    color: #666;
    font-size: 12px;
    margin-right: 20px;
  }

  &__value {
    font-weight: 500;
    color: #333;
    font-size: 13px;
  }
} 