@import '../variables';

.landing-layout {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxxl;

  &__background {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    img {
      width: 80vw;
    }
  }

  &__header {
    width: min-content;

    h1 {
      font-size: 5.75rem;
      font-family: $font-family-display;
    }

    p {
      font-family: $font-family-display;
      font-size: 1.12rem;
      font-weight: 500;
    }
  }
}