@import '../variables';

.media-layout {
  display: flex;
  flex-direction: column;
  gap: $spacing-layout;

  &__meta {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    
    .graph {
      height: 75px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-layout;
  }

  &__graphs {
    display: flex;
    flex-direction: column;
    gap: $spacing-layout;
  }
}