@import '../../variables';

.proceed-article-graph {
  grid-area: proceed-article-graph;

  text {
    font-family: $font-family-display;
    font-size: 12px;
  }

  .analysed-count {
    fill: $color-red;
  }
}
