@import '../../variables';

.stacked-bar-chart {
  &__wrapper {
    height: 100%;
    width: 100%;
  }

  .recharts-bar {
    transition: opacity var(--transition-fast);

    &:hover {
      opacity: 0.8;
    }
  }

  .recharts-legend-item {
    transition: opacity var(--transition-fast);

    &:hover {
      opacity: 0.7;
    }
  }

  .recharts-tooltip-cursor {
    opacity: 0.2;
  }
  

  // Make sure chart has enough height
  @media (max-width: var(--breakpoint-md)) {
    min-height: 350px;
  }
}