@use '@/app/styles/breakpoints' as *;

.layout {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-layout);
  max-width: 1200px;
  margin: 0 auto;

  .header {
    display: flex;
    gap: var(--spacing-layout);

    .articleHeader {
      flex: 1 1 700px;
      max-width: 700px;

      @include mobile {
        flex: initial;
        max-width: 100%;
      }
    }

    @include mobile {
      flex-direction: column;
    }
  }

  .meta {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-xxl);
    font-family: var(--font-family-display);

    @include mobile {
      flex: initial;
    }
  }

  .analysis {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-layout);
  }
}
