.card {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.label {
  font-size: 0.875rem;
  font-family: var(--font-family-display);
  color: var(--text-color-light);
}

.borderless {
  border: none;
  padding: 0;
}

.primary {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  .label {
    font-size: 1.5rem;
    color: var(--text-color);
  }
}
