.detail {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  border-radius: var(--border-radius);
  padding: var(--spacing-lg);
  border: 1px solid var(--border-color);

  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  font-size: 1rem;
  font-family: var(--font-family-base);
  line-height: 1.5rem;
}
