@use '@/app/styles/breakpoints' as *;

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-md);
  padding: var(--spacing-xxl);
  margin: var(--spacing-xxl) 0;
  position: relative;
  color: var(--text-color);

  @include tablet {
    margin: 0;
    padding: var(--spacing-lg) var(--spacing-md);
    gap: var(--spacing-sm);
  }

  .title {
    font-size: 5.75rem;
    font-weight: 900;
    text-transform: uppercase;

    @include tablet {
      font-size: 2.5rem;
    }
  }

  .description {
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 750px;
    justify-content: center;

    @include mobile {
      font-size: 1rem;
    }
  }
}