.header {
  position: relative;
  transition: var(--transition-standard);

  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    height: fit-content;
  }

  .title {
    font-weight: bold;
    font-size: 32px;
  }

  .image {
    width: 100%;
    height: auto;
    min-height: 400px;
    align-self: center;
  }
}
