@import 'variables';

:root {
  --ant-primary-color: white;
  --ant-primary-color-hover: white;
  --ant-primary-color-active: white;
  --ant-primary-color-outline: transparent;

  --ant-font-family: #{$font-family-base};
  --ant-code-family: #{$font-family-display};

  --ant-border-radius-base: #{$border-radius};
  --ant-border-color-base: #{$border-color};

  --ant-heading-color: #{$text-color};
  --ant-text-color: #{$text-color};
  --ant-text-color-secondary: #{$text-color-secondary};
}

.ant-form-item-label,
.ant-descriptions-item {
  font-family: $font-family-display !important;
}

.ant-descriptions-item {
  &-label {
    color: var(--ant-heading-color) !important;
    padding-bottom: 0;
  }

  &-content {
    color: $text-color-light !important;
    margin-bottom: $spacing-sm;
  }
}

.ant-popover {
  font-family: $font-family-display !important;
}

.ant-btn {
  &-lg {
    padding: 16px !important;
    height: auto !important;

    span {
      font-size: 24px !important;
      line-height: 24px !important;
    }
  }
}