:root {
  --ant-primary-color: white;
  --ant-primary-color-hover: white;
  --ant-primary-color-active: white;
  --ant-primary-color-outline: transparent;

  --ant-font-family: 'Montserrat', sans-serif;
  --ant-code-family: 'IBM Plex Mono', monospace;

  --ant-border-radius-base: 4px;
  --ant-border-color-base: #d9d9d9;

  --ant-heading-color: rgba(0, 0, 0, 0.85);
  --ant-text-color: rgba(0, 0, 0, 0.85);
  --ant-text-color-secondary: rgba(0, 0, 0, 0.45);
}

.ant-form-item-label,
.ant-descriptions-item{
  font-family: 'IBM Plex Mono', monospace !important;
}

.ant-descriptions-item {

  &-label {
    color: var(--ant-heading-color) !important;
    padding-bottom: 0;
  }

  &-content {
    color: #949494 !important;
    margin-bottom: 12px;
  }
}