:root {
  --ant-primary-color: #1890ff;
  --ant-primary-color-hover: #40a9ff;
  --ant-primary-color-active: #096dd9;
  --ant-primary-color-outline: rgba(24, 144, 255, 0.2);
  
  --ant-font-family: 'Montserrat', sans-serif;
  --ant-code-family: 'IBM Plex Mono', monospace;
  
  --ant-border-radius-base: 4px;
  --ant-border-color-base: #d9d9d9;
  
  --ant-heading-color: rgba(0, 0, 0, 0.85);
  --ant-text-color: rgba(0, 0, 0, 0.85);
  --ant-text-color-secondary: rgba(0, 0, 0, 0.45);
}
