@import 'variables';
@import 'antd-theme';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  color: $text-color;
  min-height: 100vh !important;
}

h1 {
  font-family: $font-family-base;
  font-size: 96px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  font-weight: 600;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

code,
pre {
  font-family: $font-family-display;
  white-space: break-spaces;
}

a {
  color: black !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}