@import 'variables';
@import 'antd-theme';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
  background-color: $background-color;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

code,
pre {
  font-family: 'IBM Plex Mono', monospace;
  white-space: break-spaces;
}

p {
  line-height: 1.25rem;
}

main {
  grid-column: span 6;
  display: grid;
  gap: 20px;
}

.ant-layout.layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0 30px;
  min-height: 100vh !important;
  max-width: 1800px;
  background-color: transparent;

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 0 20px;
}

.main-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
