@import 'variables';

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: fit-content;
  display: inline-flex;
  justify-content: space-between;
  z-index: 999999;
  padding-top: $spacing-md;
  padding-bottom: $spacing-xxl;
  padding-inline: $spacing-md;
  transition: $transition-standard;
  backdrop-filter: blur(5px);
  mask-image: linear-gradient(to bottom, black 0% 50%, transparent 90% 100%);
}

.footer,
.content {
  padding: 0 $spacing-xxl;

  @media (max-width: $breakpoint-sm) {
    padding: 0 $spacing-sm;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: $spacing-xxxl;
  padding-bottom: $spacing-xl;
  align-items: flex-end;

  &__menu {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-family: $font-family-code;
  }

  &__logo {
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: $font-family-display;
    font-size: 1.5rem;
  }
}