@import 'variables';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  padding: $spacing-xl $spacing-xxl;
  z-index: 999999;

  &__inner {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    backdrop-filter: blur(50px);
    border: 1px solid $border-color;
    border-radius: 15px;
    padding: $spacing-sm;
  }

  &__logo {
    font-size: 42px;
    line-height: 42px;
    font-weight: bold;
    margin-left: 10px;
  }

  &__menu {
    .ant-btn {
      font-size: 24px;
      text-transform: uppercase;
    }
  }
}

.content {
  width: 100%;
  max-width: 1200px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: $spacing-layout;
  padding-bottom: $spacing-xl;
  align-items: flex-end;

  &__menu {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-family: $font-family-display;
  }

  &__logo {
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: $font-family-display;
    font-size: 1.5rem;
  }
}